[Desktop Entry]
Type=Application
Terminal=true
StartupNotify=true
Name=reload to pegasus
Comment= rsync de galactica vers pegasus
Exec=/home/pi/scripts/reload_jbod_to_pegasus.sh
Icon=/usr/share/icons/PiX/32x32/perso/Sagittaron_flag.png
Categories=Application; 