[Desktop Entry]
Type=Application
Terminal=true
StartupNotify=true
Name=rm files
Comment=exécute mon script
Exec=/home/pi/scripts/rm_files.sh
Icon=/usr/share/icons/PiX/32x32/perso/osmc_trash.png
Categories=Application; 
